html {
    height: 100%;
}

body {
    background-color: #212121;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 0px;
}

.everything {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

.logo {
    width: 7%;
    height: auto;
    max-width: 10%;
}

nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    background-color: #b2beb5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    text-align: center;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    font-weight: 600;
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.text p {
    padding-right: 30%;
    padding-left: 10%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.footerstuff {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footerstuff a {
    text-decoration: none;
    color: white;
}

.horizontal-list {
    list-style: none;
    padding: none;
    align-content: center;
}

.horizontal-list li {
    display: inline;
    align-content: center;
}

.png a {
    background-color: #b2beb5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.burger {
    display: none;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        position: fixed;
    }

    .portfolio-img-background {
        height: 150px;
        width: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img-text-wrapper .subtitle {
        font-weight: 100;
        transition: 1s;
        color: transparent;
        width: 300%;
    }

    .img-text-wrapper:hover .subtitle {
        font-weight: 100;
        color: white;
        width: 300%;
    }
    

    .logo-wrapper img{
        width: 60%;
    }

    header {
        text-align: right;
    }

    h1 {
        text-align: right;
        font-size: 150%;
    }
    
    nav {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        text-align: right;
        background-color: #212121;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }

    nav a {
        opacity: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .burger {
        display: block;
    }
    
    .aaa {
        text-align: left;
    }
}

.nav-active {
    transform: translateX(100%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(-30px);
    }
}

.burger-active {
    transform: translateX(-20%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}